vcpkg/

/build/
/CMakeFiles/
/CMakeCache.txt
/Makefile
/CMakeLists.txt.user
/cmake_install.cmake
/*.dir/
/*.make
/*.o
/*.obj
/*.pdb
/*.exe
/*.ilk
/*.log
/*.pch
/*.pdb
/*.suo
/*.sln
/*.vcxproj
/*.vcxproj.filters
/*.vcxproj.user